[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "MoonSharp"]
	path = MoonSharp
	url = https://github.com/6th-Maroon-Division/moonsharp.git
	branch = master
[submodule "ProgrammablePackages"]
	path = ProgrammablePackages
	url = git@github.com:6th-Maroon-Division/monolith-programmable-packages.git
